<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mangalogue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mangalogue.styles.css" asp-append-version="true" />
</head>
<header>
    <div id="content-sidebar" class="sidebar2 text-white">
        <div class="sidebar-section">
            <div class="sidebar-link">
                <svg viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path fill="#FFFFFF" d="M8 42V18L24 6l16 12v24H28V28h-8v14Z" /></svg>
                <a asp-action="Index" asp-controller="Home">Home</a>
            </div>
            <div class="sidebar-link">
                <svg viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path fill="#FFFFFF" d="M8 42V18L24 6l16 12v24H28V28h-8v14Z" /></svg>
                <a asp-action="search">Search</a>
            </div>
            <div class="sidebar-link">
                <svg viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path fill="#FFFFFF" d="M8 42V18L24 6l16 12v24H28V28h-8v14Z" /></svg>
                <a asp-action="MangaList" asp-route-id="Trending">Trending</a>
            </div>
        </div>
        <div class="sidebar-section">
            <p class="section-title">Account</p>
            <div class="sidebar-link">
                <svg viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path fill="#FFFFFF" d="M8 42V18L24 6l16 12v24H28V28h-8v14Z" /></svg>
                <a asp-action="Login" asp-controller="User">Login</a>
            </div>
            <div class="sidebar-link">
                <svg viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path fill="#FFFFFF" d="M8 42V18L24 6l16 12v24H28V28h-8v14Z" /></svg>
                <a asp-action="Signup" asp-controller="User">Signup</a>
            </div>
        </div>
        <div class="sidebar-section">
            <p class="section-title">Other</p>
            <div class="sidebar-link">
                <svg viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path fill="#FFFFFF" d="M8 42V18L24 6l16 12v24H28V28h-8v14Z" /></svg>
                <a asp-action="Login" asp-controller="User">Login</a>
            </div>
            <div class="sidebar-link">
                <svg viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path fill="#FFFFFF" d="M8 42V18L24 6l16 12v24H28V28h-8v14Z" /></svg>
                <a asp-action="Signup" asp-controller="User">Signup</a>
            </div>
        </div>
    </div>
    <nav id="navbar" class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <button class="openbtn" onclick="toggleNav()">&#9776;</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="links" class="navbar-nav mb-2 mb-lg-0">
                    <li class="navbar-brand">
                        <a id="home" class="nav-link active text-white" aria-current="page" href="#">Mangalogue</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    <div id="page-body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
