<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mangalogue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mangalogue.styles.css" asp-append-version="true" />
</head>
<body >
    <div id="content-sidebar" class="sidebar2">
        <a href="#">Home</a>
        <a href="#">Search</a>
        <a href="#">New</a>
        <a href="#">Popular</a>
        <a href="#">Login</a>
        <a href="#">Signup</a>
    </div>
    <header class="position-relative">
        <nav id="navbar" class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <button class="openbtn" onclick="toggleNav()">&#9776;</button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="links" class="navbar-nav mb-2 mb-lg-0">
                        <li class="navbar-brand">
                            <a id="home" class="nav-link active text-white" aria-current="page" href="#">Mangalogue</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="image">
            <img src="images/banner.jpg" />
        </div>
        <div id="intro" class="position-absolute">
            <h4 class="intro-title">Read free Manga <br /> at Mangalogue</h4>
            <p class="intro-body">
                Explore our endless catalogue of manga <br />
                for free with no ads, and no signup required!</p>
        </div>
    </header>
    <div id="page-body" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
