html, body {
    background-color: #1d191e;
}

#nav, #footer {
    background-color: #151316
}

#card {
    margin-top: 2em;
    margin-bottom: 10em;
}

.section {
    overflow-x: auto;
    white-space: nowrap;
    overflow: hidden;
}
