@font-face {
    font-family: default;
    src: url("../Fonts/DMSans-Regular.ttf");
}

html, body {
    font-family: default;
    background-color: #222021;
}

header {
    display: grid;
    grid-template-columns: 1fr;
}

#navbar {
    grid-row-start: 1;
    grid-column-start: 1;
    position: fixed;
    width: 100%;
}

#image {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100%;
    position: relative;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 20%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 20%, transparent 100%);
}

#intro {
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#intro-title {
    font-size: 2vh;
}

#intro-body {
    font-size: 1.5vh;
}

#card {
    margin-top: 2em;
    margin-bottom: 10em;
}

.section {
    overflow-x: auto;
    white-space: nowrap;
    overflow: hidden;
    transition: margin-left .4s; /* If you want a transition effect */
}

nav {
    position: absolute;
    z-index: 1;
}

img {
    z-index: -1;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.sidebar2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    background-color: #232123;
    overflow-x: hidden;
    transition: 0.2s;
    box-shadow: 1px 0px 30px 2px black;
    padding-top: 60px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    scrollbar-color: black transparent;
    scrollbar-width: thin;
}

.sidebar-link {
    display: flex;
    flex-direction: row;
}

.sidebar-link > svg{
    padding-left: 24px;
}

.sidebar-section {
    padding-top: 20px;
    border-bottom: solid grey 1px;
    padding-bottom: 10px;
}

.section-title {
    padding-left: 24px;
    font-size: 18px;
    font-weight: 600;
    opacity: .5;
}

    .sidebar2 a {
        padding: 14px 8px 8px 15px;
        text-decoration: none;
        font-size: 15px;
        color: white;
        display: block;
        transition: 0.3s;
    }

        .sidebar2 a:hover {
            opacity: 0.8;
        }

    .sidebar2 .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background: none;
    color: white;
    padding: 10px 15px;
    border: none;
    left: 50px;
}

    .openbtn:hover {
        opacity: 0.3;
    }

#home {
    padding-top: 15px;
    left: 70px;
}

input:focus {
    outline: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar2::-webkit-scrollbar {
    scrollbar-color: black transparent;
    opacity: 0.8;
    width: 4px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar2 {
    
}
