html, body {
    background-color: #1d191e;
}

#nav, #footer {
    background-color: #151316
}

.section {
    margin-top: 2rem;
    margin-bottom: 10rem; 
    overflow-x: auto;
    white-space: nowrap;
    overflow: hidden;
}
