@model MangaCreationViewModel

<h2 class="text-center mx-auto text-white fw-bolder">Upload your own Manga!</h2>

<form asp-action="CreateManga" enctype="multipart/form-data" class="text-white text-center">
    <div class="form-group">
        <label id="title">Title</label>
        <input type="text" class="form-control m-auto w-50" asp-for="@Model.Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>Thumbnail</label>
        <input asp-for="Thumbnail" class="form-control m-auto w-50" />
        <span asp-validation-for="Thumbnail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea type="text" class="form-control m-auto w-50" asp-for="@Model.Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <label class="display-4 fw-bold p-2">Genres</label>
    <div id="genres" class="text-white">
        @foreach (var genre in Enum.GetValues(typeof(Genres)))
        {
            <div class="d-flex flex-row">
                <label class="px-1">@genre</label>
                <input type="checkbox" name="Genres" value="@genre" />
            </div>
        }
    </div>
    <span asp-validation-for="Genres" class="text-danger"></span>

    <button class="form-control btn-primary w-25 m-auto mt-4" type="submit">GO!</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }