@{
    Layout = null;
}

<h2 class="text-white text-center mt-4 m-auto">Whoops, something went wrong!</h2>
<p class="text-white">Please try the process again, 
    since it's likely the server was under too much stress to process your request.<br />
    If this error persists, contact <a class="fw-bold" asp-action="Help" asp-controller="Home">support</a></p>