@model HomepageViewModel
<header id="header" class="position-relative">
    <div id="front-page">
        <div id="image">
            <img src="images/banner2.jpg" />
        </div>
        <div id="intro" class="position-absolute">
            <h4 class="intro-title">Read free Manga <br /> at Mangalogue</h4>
            <p class="intro-body">
                Explore our endless catalogue of manga <br />
                for free with no ads, and no signup required!
            </p>
        </div>
    </div>
</header>
<div class="container text-white">
    <div id="card">
        <h3>New</h3>
        <div id="new" class="section">
            <div class="d-flex flex-row">
                @foreach(var newManga in Model.Newest)
                {
                    if(newManga.Thumbnail is not null)
                    {
                        <div id="manga-card">
                            <img id="thumbnail" src="data:image/gif;base64,@Convert.ToBase64String(newManga.Thumbnail)" />
                            <h5>@newManga.Title</h5>
                            <h5>Chapter @newManga.Chapters.Count</h5>
                            <h5>@newManga.Rating / 5</h5>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="d-flex flex-row gap-3">
            <h3><a asp-action="MangaList" asp-route-filter="new">See All</a></h3>
            <button id="slideLeft" onclick="scrollToLeft('new')" type="button">Slide left</button>
            <button id="slideRight" onclick="scrollToRight('new')" type="button">Slide right</button>
        </div>
    </div>

    <div id="card">
        <h3>Popular</h3>
        <div id="popular" class="section">
            <div class="d-flex flex-row">
                
            </div>
        </div>
        <div class="d-flex flex-row gap-3">
            <h3><a asp-action="MangaList" asp-route-filter="popular">See All</a></h3>
            <button id="slideLeft" onclick="scrollToLeft('popular')" type="button">Slide left</button>
            <button id="slideRight" onclick="scrollToRight('popular')" type="button">Slide right</button>
        </div>
    </div>

    <div id="card">
        <h3>Random</h3>
        <div id="random" class="section">
            <div class="d-flex flex-row">
                
            </div>
        </div>
        <div class="d-flex flex-row gap-3">
            <h3><a asp-action="MangaList" asp-route-filter="random">See All</a></h3>
            <button id="slideLeft" onclick="scrollToLeft('random')" type="button">Slide left</button>
            <button id="slideRight" onclick="scrollToRight('random')" type="button">Slide right</button>
        </div>
    </div>

</div>
