@using Mangalogue.Entities
@model List<Manga>

<div class="container text-white">
    <div id="card">
        <h3>New</h3>
        <div id="new" class="section">
            <div class="d-flex flex-row">
                <p class="m-3">111111111111111111</p>
                <p class="m-3">222222222222222222</p>
                <p class="m-3">333333333333333333</p>
                <p class="m-3">444444444444444444</p>
                <p class="m-3">555555555555555555</p>
                <p class="m-3">666666666666666666</p>
                <p class="m-3">777777777777777777</p>
                <p class="m-3">111111111111111111</p>
                <p class="m-3">222222222222222222</p>
                <p class="m-3">333333333333333333</p>
                <p class="m-3">444444444444444444</p>
                <p class="m-3">555555555555555555</p>
                <p class="m-3">666666666666666666</p>
                <p class="m-3">777777777777777777</p>
            </div>
        </div>
        <div class="d-flex flex-row gap-3">
            <h3><a href="#">See All</a></h3>
            <button id="slideLeft" onclick="scrollToLeft('new')" type="button">Slide left</button>
            <button id="slideRight" onclick="scrollToRight('new')" type="button">Slide right</button>
        </div>
    </div>

    <div id="card">
        <h3>Popular</h3>
        <div id="popular" class="section">
            <div class="d-flex flex-row">
                <p class="m-3">111111111111111111</p>
                <p class="m-3">222222222222222222</p>
                <p class="m-3">333333333333333333</p>
                <p class="m-3">444444444444444444</p>
                <p class="m-3">555555555555555555</p>
                <p class="m-3">666666666666666666</p>
                <p class="m-3">777777777777777777</p>
                <p class="m-3">111111111111111111</p>
                <p class="m-3">222222222222222222</p>
                <p class="m-3">333333333333333333</p>
                <p class="m-3">444444444444444444</p>
                <p class="m-3">555555555555555555</p>
                <p class="m-3">666666666666666666</p>
                <p class="m-3">777777777777777777</p>
            </div>
        </div>
        <div class="d-flex flex-row gap-3">
            <h3><a href="#">See All</a></h3>
            <button id="slideLeft" onclick="scrollToLeft('popular')" type="button">Slide left</button>
            <button id="slideRight" onclick="scrollToRight('popular')" type="button">Slide right</button>
        </div>
    </div>

    <div id="card">
        <h3>Random</h3>
        <div id="random" class="section">
            <div class="d-flex flex-row">
                <p class="m-3">111111111111111111</p>
                <p class="m-3">222222222222222222</p>
                <p class="m-3">333333333333333333</p>
                <p class="m-3">444444444444444444</p>
                <p class="m-3">555555555555555555</p>
                <p class="m-3">666666666666666666</p>
                <p class="m-3">777777777777777777</p>
                <p class="m-3">111111111111111111</p>
                <p class="m-3">222222222222222222</p>
                <p class="m-3">333333333333333333</p>
                <p class="m-3">444444444444444444</p>
                <p class="m-3">555555555555555555</p>
                <p class="m-3">666666666666666666</p>
                <p class="m-3">777777777777777777</p>
            </div>
        </div>
        <div class="d-flex flex-row gap-3">
            <h3><a href="#">See All</a></h3>
            <button id="slideLeft" onclick="scrollToLeft('random')" type="button">Slide left</button>
            <button id="slideRight" onclick="scrollToRight('random')" type="button">Slide right</button>
        </div>
    </div>

</div>