<div class="p-5 m-5 text-white">
    At <strong>Mangalogue</strong>, one of our main priorities is the privacy of our visitors. <br /> <br />

    If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us. <br /> <br />

    This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Mangalogue. This policy is not applicable to any information collected offline or via channels other than this website. Our Privacy Policy was created with the help of the Free Privacy Policy Generator. <br /> <br />

    <strong>Consent</strong>
    <br />
    <br />

    By using our website, you hereby consent to our Privacy Policy and agree to its terms. <br /> <br />

    <strong>Information we collect</strong>
    <br />
    <br />

    The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.

    If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.

    When you register for an Account, we may ask for your contact information, including items such as an account name, and email address.
    <br />
    <br />

    <strong>How we use your information</strong>
    <br />
    <br />

    We use the information we collect in various ways, including to:
    <br />
    <br />
    <ul class="text-white">
        <li>Provide, operate, and maintain our website</li>
        <li>Improve, personalize, and expand our website</li>
        <li>Understand and analyze how you use our website</li>
        <li>Develop new products, services, features, and functionality</li>
        <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
        <li>Send you emails</li>
        <li>Find and prevent fraud</li>
    </ul>
    Log Files 
    <br /> 
    <br />

    Mangalogue tracks undescript user activity for statistical purposes, and does not keep or sell any information to 3rd parties, for any reasons.<br /> <br />

    Like any other website, Mangalogue uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.<br /> <br />
</div>